.black {
    background-color:var(--black-color) !important;
}

.blackAnnee{
    border: 2px ridge var(--orange-color) !important;
    border-radius: 21px !important;
}

.blackAnnee p{
    color:var(--white-color) !important;
    border: 0 !important;
}

.blackAnnee div a{
    color:var(--white-color) !important;
    border: 0 !important;
}

.footerBlack{
    border-top: 1px ridge var(--orange-color) !important;
}

.buttonBlack{
    background-color: var(--black-color) !important;
    color: white !important;
    border: 2px ridge var(--orange-color) !important;
    border-radius: 21px !important;
}

.text{
    color: var(--white-color) !important;
}

.bgdc{
    background-image: linear-gradient(298deg, var(--black-color) 49%, var(--black-color) 49%);
}

.mainFooterBlack{
    border: 1px ridge var(--orange-color) !important;
}

/*-----Voir les question----*/


.filtersBlack{
    background-color: var(--orange-color) !important;
}

.pictoBlack{
    color: var(--orange-color) !important;
}

