.borderBottomOrange {
    border-bottom: 2px solid var(--orange-color);
}

.black {
    background-color: var(--black-color) !important;
}

.borderTopOrange{
    border-top: 2px ridge var(--orange-color) !important;
}

.buttonBlack {
    background-color: var(--black-color) !important;
    color: white !important;
    border: 2px ridge var(--orange-color) !important;
    border-radius: 21px !important;
}

.borderOrange{
    border:1px ridge var(--orange-color) !important;
}

.whiteColor{
    color: var(--white-color) !important;
}

.orangeColor{
    color: var(--orange-color) !important;
}

.borderRadiusOrange{
    border:1px ridge var(--orange-color) !important;
    border-radius: 21px;
}


.bgdc {
    background-image: linear-gradient(298deg, var(--black-color) 50%, var(--orange-color) 50.2%, var(--black-color) 50%);
    border-bottom: 2px solid var(--orange-color);
}
