/*Partie background diagonale et choix*/

#background {
    background-image: linear-gradient(298deg, rgb(0, 204, 203) 49%, rgb(116, 208, 241) 45%);
    min-height: 90vh;
}

#background>div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40vh;
}

#background>div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35vh;
    color: white;
}

#background>div:last-child a {
    color: white;
}


/*Présentation loscincos*/

.maincontainer {
    width: 90%;
    margin: 0 auto;
}

article section div:first-child {
    display: block;
    color: black;
}

article section {
    background-color: #CAF0FF;
    padding: 30px;
    margin-top: 5vh;
}

article section h3 {
    padding-bottom: 10px;
}


/*FOOTER*/

.footer {
    background-color: #61B0FF;
    min-height: 45vh;
    width: 95%;
    margin: 0 auto;
}

.footer h4 {
    font-size: 30px;
}

.footer>div:first-child {
    justify-content: space-around;
    display: flex;
    color: white;
    padding-top: 100px;
    margin-top: 40px;
    padding-bottom: 25px;
}

.footer .rs a {
    color: white;
    padding: 20px;
}

.footer nav .menu li {
    padding-bottom: 15px;
}

.footer .menu li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.footer li a {
    text-decoration: none;
    color: white;
}

.footer ul {
    list-style-type: none;
    padding-bottom: 30px;
}

.footer hr {
    color: white;
    width: 90%;
    margin: 0 auto;
}

.footer>div:last-child {
    padding-left: 110px;
    padding-top: 50px;
    color: white;
}