.questionPage {
    display: block;
}

.questionPage {
    background-color: #fff;
    color: #000;
    padding-top: 100px;
}

.questionPage .blockQuestion,
.questionPage .blockAnswers,
.questionPage .blockResponse {
    padding: 10px 20px 10px 20px;
    margin-bottom: 60px;
}

.questionPage article section {
    border: none;
}

.blockQuestion .introBlockQuestion,
.blockAnswers .introBlockQuestion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.blockQuestion .introBlockQuestion div:first-child,
.blockAnswers .introBlockQuestion div:first-child {
    display: flex;
    align-items: center;
}

.blockQuestion .introBlockQuestion div:first-child>div:first-child,
.blockAnswers .introBlockQuestion div:first-child>div:first-child {
    background-color: var(--black-color);
    color: #fff;
    padding: 2px 20px;
    border-radius: 25px;
    font-size: 20px;
}

.introBlockQuestion a p {
    color: var(--black-color);
}

.introBlockQuestion a {
    text-decoration: none;
    margin-right: 20px;
}

.blockQuestion .introBlockQuestion div:nth-child(4),
.blockAnswers .introBlockQuestion div:nth-child(4) {
    display: flex;
    align-items: center;
}

.blockQuestion .introBlockQuestion div:nth-child(4),
.blockAnswers .introBlockQuestion div:nth-child(4) {
    display: flex;
    align-items: center;
    color: var(--green-color);
}

.blockQuestion .introBlockQuestion div:nth-child(5) {
    display: flex;
    align-items: center;
    color: var(--blue-color);
}

.blockQuestion .introBlockQuestion div:last-child {
    color: var(--red-color);
}

.blockAnswers .introBlockQuestion div:last-child {
    color: var(--blue-color);
}

.introBlockQuestion>div:first-child>div,
.introBlockQuestion>div:first-child>i,
.introBlockQuestion>div:first-child>p {
    margin-right: 20px;
}

.introBlockQuestion>div:last-child>i {
    margin-left: 10px;
}

.introBlockQuestion>div:first-child i {
    margin: 0px 5px;
}

.descriptionBlockQuestion {
    background-color: var(--black-color);
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.blockQuestion .codeBlockQuestion,
.blockAnswers .codeBlockQuestion {
    display: flex;
    justify-content: space-between;
}


/* Différents examples de tailles des blocks de code */

.blockQuestion .codeBlockQuestion>div,
.blockAnswers .codeBlockQuestion>div {
    width: calc((100% - 40px)/3);
}

article .blockAnswers:nth-child(2) .codeBlockQuestion>div {
    width: calc((100% - 30px)/2);
}

article .blockAnswers:last-child .codeBlockQuestion>div {
    width: calc((100%));
}


/* Couleur de fond des blocks de code */

.hljs {
    background: var(--black-color)!important;
    font-size: 14px;
}

*::-webkit-scrollbar-corner {
    background: var(--orange-color);
}


/* --------------------------------------------------------------- */

.blockQuestion .codeBlockQuestion>div button,
.blockAnswers .codeBlockQuestion>div button {
    padding: 4px;
    outline: none;
    border: none;
    color: var(--white-color);
    background-color: var(--orange-color);
}

.blockQuestion .codeBlockQuestion>div code,
.blockAnswers .codeBlockQuestion>div code {
    height: 300px;
    overflow: auto;
    resize: vertical;
    position: relative;
}

.blockAnswers .introBlockQuestion>div:last-child i {
    margin-left: 5px;
}


/* Colorer les différences entre le code du problèmes et les codes des réponses. */


/* A enlever après, juste a montrer pour le visuel */

.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(20),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(21),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(22),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(23),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(24),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(25),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(26),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(27),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(28),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(29),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(30),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(31),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(32),
.blockAnswers .codeBlockQuestion>div:first-child code>span:nth-child(33) {
    background-color: #fff;
}

.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(20),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(21),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(22),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(23),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(24),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(25),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(26),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(27),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(28),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(29),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(30),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(31),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(32),
.blockAnswers .codeBlockQuestion>div:nth-child(2) code>span:nth-child(33) {
    background-color: #fff;
}

.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(20),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(21),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(22),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(23),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(24),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(25),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(26),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(27),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(28),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(29),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(30),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(31),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(32),
.blockAnswers .codeBlockQuestion>div:last-child code>span:nth-child(33) {
    background-color: #fff;
}


/* ----------------------------------------------------------------- */

.blockResponse form>.styleInputResponse {
    width: 100%;
    padding: 5px 0px 60px 0px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: var(--black-color);
    caret-color: var(--orange-color);
    display: flex;
    justify-content: center;
}

.blockResponse form input {
    width: 98%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.blockResponse form>::-webkit-input-placeholder {
    padding-left: 10px;
}

.blockResponse button {
    margin-right: 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: var(--orange-color);
    padding: 2px 10px;
    color: #fff;
}

.blockResponse form>div {
    display: flex;
    justify-content: space-between;
}

.blockResponse form div button {
    margin-right: 0;
}

.blockQuestionMobile {
    display: none;
}

.blockAnswersMobile {
    display: none;
}

.htmlCodeResponsive,
.cssCodeResponsive,
.jsCodeResponsive {
    display: none;
}

.htmlCodeResponsive>div,
.cssCodeResponsive>div,
.jsCodeResponsive>div {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
}

.htmlCodeResponsive>div button,
.cssCodeResponsive>div button,
.jsCodeResponsive>div button {
    padding: 4px;
    outline: none;
    border: none;
    color: var(--white-color);
    background-color: var(--orange-color);
}

.popupCloseHtml,
.popupCloseCss,
.popupCloseJs {
    color: #fff;
}


/* ------------------------------------------ */


/* Responsive Tablette */

@media screen and (max-width:768px) {
    .container {
        width: 90%;
    }
}


/* Responsive Mobile */

@media screen and (max-width:576px) {
    .blockQuestion {
        display: none;
    }
    .questionPage .blockQuestion,
    .questionPage .blockAnswers {
        padding: 20px 20px 20px 20px;
        margin-bottom: 20px;
    }
    .blockQuestionMobile,
    .blockAnswersMobile {
        display: block;
        background-color: var(--black-color);
        border-radius: 10px;
        color: #fff;
    }
    .blockQuestionMobile .introBlockQuestion {
        display: block;
    }
    .blockQuestionMobile .introBlockQuestion>div {
        display: flex;
        justify-content: space-between;
    }
    .blockQuestion .introBlockQuestion div:first-child p,
    .blockAnswers .introBlockQuestion div:first-child p {
        margin-right: 0;
    }
    .blockQuestion .introBlockQuestion div:first-child p:last-child {
        color: var(--orange-color);
    }
    .blockAnswers .introBlockQuestion div:first-child p:last-child {
        color: var(--orange-color);
    }
    .blockQuestionMobile .introBlockQuestion>div div:nth-child(2) i {
        margin-left: 10px;
    }
    .blockQuestion .introBlockQuestion div:last-child {
        color: var(--white-color);
    }
    .blockQuestionMobile .introBlockQuestion>div:first-child,
    .blockAnswersMobile .introBlockQuestion>div:first-child {
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-radius: 30px;
        padding: 4px 10px;
    }
    .blockQuestionMobile .codeBlockQuestion>div {
        width: auto;
    }
    .descriptionBlockQuestion {
        padding: 0px;
        border: 1px solid var(--orange-color);
        border-radius: 15px;
        padding: 4px 10px;
    }
    .blockQuestion .introBlockQuestion div:last-child {
        color: var(--white-color);
    }
    .blockQuestion .introBlockQuestion div:last-child div>i {
        color: var(--orange-color);
        margin-left: 10px;
    }
    .blockQuestion .introBlockQuestion div:last-child div>p {
        color: var(--green-color);
    }
    .blockQuestion .codeBlockQuestion>div button,
    .blockAnswers .codeBlockQuestion>div button {
        border-radius: 20px;
        padding: 4px 8px;
    }
    .descriptionBlockQuestion {
        font-size: 15px;
    }
    /* ---------------- */
    .blockAnswers {
        display: none;
    }
    .blockAnswersMobile {
        display: block;
    }
    .blockAnswers .introBlockQuestion {
        display: block;
    }
    .blockAnswersMobile .introBlockQuestion>div {
        display: flex;
        justify-content: space-between;
    }
    .blockAnswers .introBlockQuestion div:last-child {
        color: var(--white-color);
    }
    .blockAnswers .introBlockQuestion div:last-child p:last-child {
        color: var(--orange-color);
    }
    .blockAnswersMobile .introBlockQuestion div:first-child p {
        margin-left: 0;
    }
    article .blockAnswersMobile .codeBlockQuestion>div {
        width: auto !important;
    }
    .questionPage .blockResponse {
        margin-bottom: 0;
        padding: 0 0;
    }
    .blockResponse form>.styleInputResponse {
        border-radius: 10px;
    }
    .blockResponse form>div {
        display: block;
    }
    .blockResponse form>div div:first-child {
        margin-bottom: 10px;
    }
}