@import url("../css/nav.css");
@import url("footer.css");
@import url("lookQuestions.css");
@import url("question.css");
@import url("main.css");
@import url("profil.css");
@import url("askaquestion.css");
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --orange-color: #DC965A;
    --black-color: #242325;
    --white-color: #FFFFFF;
    --blue-color: #61B0FF;
    --red-color: #F95555;
    --yellow-color: #FFF837;
    --green-color: #34D429;
}