{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block body %}
    <br><br><br><br><br><br>

<h1 class="Edit-Profil">Edit your profile</h1>
<div class="editProfilForm">
 {{ form_start(editProfile) }}
    {{ form_end(editProfile) }}
</div>
   

    <br><br><br>
{% endblock %}
