{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block body %}
    <br><br><br><br><br><br>

<h1>Edit your profile</h1>

    {{ form_start(editProfile) }}
    {{ form_end(editProfile) }}

    <br><br><br>
{% endblock %}
