{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block mainContent %}
    <main class="containerProfil container">
        <div class="partleftmobile">
            <div class="pseudocercle">
                <div id="cercle">
                </div>
                <p>Pseudo</p>
            </div>

            <div class="annee">
                <p>Année d'étude: 4</p>
                <div class="discord">
                    <p>Discord</p>
                    <a href=""><i class="fab fa-discord"></i></a>
                </div>
                <div class="compte">
                    <p>Compte</p>
                    <a href=""><i class="fas fa-user-check"></i></a>
                </div>
            </div>
        </div>
        <div class="buttonmobile">
            <button>Modifier</button>
            <div class="darkMode">
                <!-- bouton pour le dark mode -->
                <button class="darkModeBtn">DARK MODE</button>
            </div>
        </div>


        <div class="Partleft">
            <div id="cercle">

            </div>
            <div class="pseudo">Pseudo</div>
            <div class="annee">
                <p>Année d'étude: 4</p>
                <div class="discord">
                    <p>Discord</p>
                    <a href=""><i class="fab fa-discord"></i></a>
                </div>
                <div class="compte">
                    <p>Compte</p>
                    <a href=""><i class="fas fa-user-check"></i></a>
                </div>
            </div>
            <button>Modifier</button>

            <!-- bouton pour le dark mode -->

            <button class="darkModeBtn">DARK MODE</button>

        </div>
        <div class="partright">
            <section>
                <div class="propos">
                    <p class="titreapropos">A propos de pseudo :</p>
                    <p class="moretexte">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
                    <a href=""><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></a>

                </div>
            </section>
            <div class="languagessuccesmobile">
                <section class="languagesmobile">
                    <div>
                        <p>Langages favoris: </p>
                        <div class="html">
                            <p>HTML</p>
                            <a href=""><i class="fa fa-html5 fa-1x" aria-hidden="true"></i></a>
                        </div>
                        <div class="css">
                            <p>CSS</p>
                            <a href=""><i class="fa fa-css3" aria-hidden="true"></i></a>
                        </div>
                        <div class="js">
                            <p>JavaScript</p>
                            <a href=""><i class="fab fa-js fa-1x"></i></a>
                        </div>
                        <div class="php">
                            <p>php</p>
                            <a href=""><i class="fab fa-php fa-1x"></i></a>
                        </div>
                    </div>
                </section>
                <section class="Succesmobile">
                    <div>
                        <p>Succès: </p>
                        <div class="trophy">
                            <a href=""><i class="fas fa-trophy"></i></a>
                            <p>42</p>
                        </div>

                        <div class="heart">
                            <a href=""><i class="fas fa-heart"></i></a>
                            <p>32</p>
                        </div>
                        <div class="comment">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>68</p>
                        </div>
                    </div>
                </section>
            </div>
            <section class="languages">
                <div>
                    <p>Langages favoris: </p>
                    <p>HTML</p>
                    <a href=""><i class="fa fa-html5 fa-1x" aria-hidden="true"></i></a>
                    <div class="css">
                        <p>CSS</p>
                        <a href=""><i class="fa fa-css3" aria-hidden="true"></i></a>
                    </div>
                    <div class="js">
                        <p>JavaScript</p>
                        <a href=""><i class="fab fa-js fa-1x"></i></a>
                    </div>
                    <div class="php">
                        <p>php</p>
                        <a href=""><i class="fab fa-php fa-1x"></i></a>
                    </div>
                </div>
            </section>
            <section class="Succes">
                <div>
                    <p>Succès: </p>
                    <a href=""><i class="fas fa-trophy"></i></a>
                    <p>42</p>

                    <div class="heart">
                        <a href=""><i class="fas fa-heart"></i></a>
                        <p>32</p>
                    </div>
                    <div class="comment">
                        <a href=""><i class="fas fa-comment"></i></a>
                        <p>68</p>
                    </div>
                </div>
            </section>
            <article>
                <div class="hfmobile">
                    <div class="hf">


                        <div class="defis">
                            <ul>
                                <li>
                                    <p>Défis quotidien :</p>
                                </li>
                                <li>
                                    <p>Répondre à deux questions</p>
                                </li>
                                <li>
                                    <p>Liker une réponse</p>
                                </li>
                                <li>
                                    <p>Poser une question</p>
                                </li>
                            </ul>
                        </div>
                        <div class="parse">
                            <div class="half-circle"></div>
                            <div>
                                <p>75%</p>
                            </div>
                        </div>
                        <div class="displayblock">
                            <div class="badges">
                                <p>Mes badges</p>
                                <div class="groupicons">
                                    <div class="icons">
                                        <div>
                                            <a href=""><i class="fa fa-shield fa-3x" aria-hidden="true"></i></a>
                                        </div>
                                        <div>
                                            <a href=""><i class="fa fa-heart fa-3x" aria-hidden="true"></i>
                                </i></a>
                                        </div>
                                    </div>
                                    <div class="icons2">
                                        <div>
                                            <a href=""><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i></a>
                                        </div>
                                        <div>
                                            <a href=""><i class="fa fa-question fa-3x" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
            <article>
                <div class="hfweb">
                    <div class="hf">
                        <div class="parse">
                            <div class="half-circle"></div>
                            <div>
                                <p>75%</p>
                            </div>
                        </div>

                        <div class="defis">
                            <ul>
                                <li>
                                    <p>Défis quotidien :</p>
                                </li>
                                <li>
                                    <p>Répondre à deux questions</p>
                                </li>
                                <li>
                                    <p>Liker une réponse</p>
                                </li>
                                <li>
                                    <p>Poser une question</p>
                                </li>
                            </ul>
                        </div>
                        <div class="badges">
                            <p>Mes badges</p>
                            <div class="icons">
                                <div>
                                    <a href=""><i class="fa fa-shield fa-3x" aria-hidden="true"></i></a>
                                    <p>Sauveur</p>
                                </div>
                                <div>
                                    <a href=""><i class="fa fa-heart fa-3x" aria-hidden="true"></i>
                                </i></a>
                                    <p>Loveur</p>
                                </div>

                                <div>
                                    <a href=""><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i></a>
                                    <p>Helpeur</p>
                                </div>
                                <div>
                                    <a href=""><i class="fa fa-question fa-3x" aria-hidden="true"></i></a>
                                    <p>Inspecteur</p>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </article>
            <section class="mobileSesquestions">
                <div>
                    <p class="size">Mes questions: </p>

                    <div class="probleme">
                        <p><a href="question.html"> Titre du problème</a></p>
                    </div>
                    <div class="flex">
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="probleme">
                        <p><a href="question.html"> Titre du problème</a></p>
                    </div>
                    <div class="flex">
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="probleme">
                        <p><a href="question.html"> Titre du problème</a></p>
                    </div>
                    <div class="flex">
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="probleme">
                        <p><a href="question.html"> Titre du problème</a></p>
                    </div>
                    <div class="flex">
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="probleme">
                        <p><a href="question.html"> Titre du problème</a></p>
                    </div>
                    <div class="flex">
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>

                </div>
            </section>
            <section class="Sesquestions">
                <div>
                    <p class="size">Ses questions: </p>
                    <div class="flex">
                        <div class="probleme">
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="probleme">
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="probleme">
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="probleme">
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="probleme">
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <div class="like">
                            <a href=""><i class="fas fa-comment"></i></a>
                            <p>12</p>
                        </div>
                        <div class="resolu">
                            <p>Résolu</p>
                            <a href=""><i class="fas fa-check-circle"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

