{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}


{% block body %}
    <div class="backgroundmobile">
        <section class="background">
            <div>
                <div class="placement1">
                    <a href="lookQuestions.html">
                        <h2>Répondre aux questions</h2>
                    </a>
                </div>
                <div class="placement2">
                    <h2><a href="askQuestion.html">Poser vos questions</a></h2>
                </div>
            </div>
            <div>
                <a href="#maincontainer"><i class="fa fa-arrow-circle-down fa-3x" aria-hidden="true"></i></a>
            </div>
        </section>
    </div>
    <div class="backgroundDesktop">
        <section class="background">
            <div>
                <div class="placement1">
                    <a href="lookQuestions.html">
                        <h2>Répondre aux questions</h2>
                    </a>
                </div>
                <div class="placement2">
                    <a href="askQuestion.html">
                        <h2>Poser vos questions</h2>
                    </a>
                </div>
            </div>
            <div>
                <a href="#maincontainer"><i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i></a>
            </div>
        </section>
    </div>
    <article class="maincontainer" id="maincontainer">
        <section class="blockls">
            <div>
                <h3>Qui est Los Cincos ?</h3>
                <p class="addtext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="arrowcenter" id="firstarrow">
                    <a href=""><i id="scrolldown" class="fa fa-arrow-circle-down fa-2x " aria-hidden="true"></i></a>
                </div>
            </div>
        </section>

        <!--PREMIERE Div présentation loscincos mobile après clique-->


        <section class="blockls2">
            <div>
                <h3>Ce que nous vous proposons</h3>
                <p class="addtext2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                    sed diam voluptua.</p>
                <div class="arrowcenter" id="secondarrow">
                    <a href=""><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </section>

        <!--DEUXIEME Div présentation loscincos mobile après clique-->


    </article>

{% endblock %}




