{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}
{% block body %}

<h1>Edit your question</h1>

{{ form_start(editQuestion) }}
    {{ form_end(editQuestion) }}
    {% endblock %}
