{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block body %}
    <div class="EmaindivDesk">
        <div class="EBdiv">

            {{ form_start(newQuestion) }} 
            {{ form_end(newQuestion) }} 

            {# <div>
                <input class="EBtitre" type="text" placeholder="Titre du problème">
            </div>
            <section class="Easktext">
                <input type="text" placeholder="Titre du problème">

            </section> #}

            <article class="Egroupbtn">
                <button class="Easkbtn">
                <a href="#">Paste HTML</a>
            </button>
                <button class="Easkbtn">
                <a href="#">Paste CSS</a>
            </button>
                <button class="Easkbtn">
                <a href="#">Paste JS</a>
            </button>
            </article>

            {# <div class="mbbtn">
                <button class="Ebtnsend" type="submit" id="myBtnAnsw">Envoyer ma question</button> #}

                <!-- Fond gris du popup -->
                {# <div id="myModal" class="HmodalAnsw"> #}

                    <!-- Contenu du popup -->
                    {# <div class="modal-content" id="testa">
                        <span class="close">&times;</span>
                        <form action="#"><br>
                            <p>Vous avez envoyé votre question.</p><br>
                            <input type="submit" id="envoyer" value="Retour"><br>

                        </form>
                    </div> #}
{# 
                </div> #}
            {# </div> #}
        </div>
    </div>
{% endblock %}

