{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block body %}
    <div class="EmaindivDesk">
        <div class="EBdiv">

            {{ form_start(newQuestion) }} 
            {{ form_end(newQuestion) }} 

        </div>
    </div>
{% endblock %}

