{% extends "base.html.twig" %}

{% block title %}Devcoin{% endblock %}

{% block mainContent %}
    <main class="mainLookQuestions container">
        <section class="filters">
            <h3>Filtres</h3>
            <hr>
            <div>
                <p>Les plus récents</p>
                <input type="checkbox" checked="checked">
            </div>
            <div>
                <p>Les plus populaires</p>
                <input type="checkbox">
            </div>
            <div>
                <p>Non résolus</p>
                <input type="checkbox">
            </div>
            <hr>
            <h4>Langages</h4>
            <div>
                <p>HTML</p>
                <input type="checkbox">
            </div>
            <div>
                <p>CSS</p>
                <input type="checkbox">
            </div>
            <div>
                <p>Javascript</p>
                <input type="checkbox">
            </div>
            <div>
                <p>PHP</p>
                <input type="checkbox">
            </div>
        </section>

        <article class="allQuestions">
            <section>
                <div class="informationsProblem">
                    <div>
                        <div>
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                        <a href="profil.html">Pseudo</a>

                    </div>
                    <div>
                        <p>10/19/2020</p>
                    </div>
                </div>
                <div class="informationsProblemMobile">
                    <div>
                        <p><a href="question.html">Titre du problème</a></p>
                        <a href="profil.html">Pseudo</a>
                    </div>
                    <div>
                        <p>10/19/2020</p>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-html5" aria-hidden="true"></i>
                            <i class="fa fa-css3" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="descriptionProblem">
                    <p><a href="question.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam unde dolor consequatur esse repudiandae error id omnis aliquam nemo facilis! Non totam ad, nulla in facere voluptas magni ab sit. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Explicabo omnis necessitatibus maiores incidunt nostrum eum sapiente doloribus illum. Neque nostrum hic eius debitis delectus natus illo odit est beatae aliquam?</a></p>
                </div>
                <div class="footerProblem">
                    <div>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>68</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-html5" aria-hidden="true"></i>
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </div>
                </div>
            </section>
            <section>
                <div class="informationsProblem">
                    <div>
                        <div>
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                        <a href="profil.html">Pseudo</a>

                    </div>
                    <div>
                        <p>10/19/2020</p>
                    </div>
                </div>
                <div class="informationsProblemMobile">
                    <div>
                        <p><a href="question.html">Titre du problème</a></p>
                        <a href="profil.html">Pseudo</a>
                    </div>
                    <div>
                        <p>10/19/2020</p>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-html5" aria-hidden="true"></i>
                            <i class="fa fa-css3" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="descriptionProblem">
                    <p><a href="question.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam unde dolor consequatur esse repudiandae error id omnis aliquam nemo facilis! Non totam ad, nulla in facere voluptas magni ab sit. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Explicabo omnis necessitatibus maiores incidunt nostrum eum sapiente doloribus illum. Neque nostrum hic eius debitis delectus natus illo odit est beatae aliquam?</a></p>
                </div>
                <div class="footerProblem">
                    <div>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>68</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-html5" aria-hidden="true"></i>
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </div>
                </div>
            </section>
            <section>
                <div class="informationsProblem">
                    <div>
                        <div>
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                        <a href="profil.html">Pseudo</a>

                    </div>
                    <div>
                        <p>10/19/2020</p>
                    </div>
                </div>
                <div class="informationsProblemMobile">
                    <div>
                        <p><a href="question.html">Titre du problème</a></p>
                        <a href="profil.html">Pseudo</a>
                    </div>
                    <div>
                        <p>10/19/2020</p>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-html5" aria-hidden="true"></i>
                            <i class="fa fa-css3" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="descriptionProblem">
                    <p><a href="question.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam unde dolor consequatur esse repudiandae error id omnis aliquam nemo facilis! Non totam ad, nulla in facere voluptas magni ab sit. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Explicabo omnis necessitatibus maiores incidunt nostrum eum sapiente doloribus illum. Neque nostrum hic eius debitis delectus natus illo odit est beatae aliquam?</a></p>
                </div>
                <div class="footerProblem">
                    <div>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>68</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-html5" aria-hidden="true"></i>
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </div>
                </div>
            </section>
            <section>
                <div class="informationsProblem">
                    <div>
                        <div>
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                        <a href="profil.html">Pseudo</a>

                    </div>
                    <div>
                        <p>10/19/2020</p>
                    </div>
                </div>
                <div class="informationsProblemMobile">
                    <div>
                        <p><a href="question.html">Titre du problème</a></p>
                        <a href="profil.html">Pseudo</a>
                    </div>
                    <div>
                        <p>10/19/2020</p>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-html5" aria-hidden="true"></i>
                            <i class="fa fa-css3" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="descriptionProblem">
                    <p><a href="question.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam unde dolor consequatur esse repudiandae error id omnis aliquam nemo facilis! Non totam ad, nulla in facere voluptas magni ab sit. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Explicabo omnis necessitatibus maiores incidunt nostrum eum sapiente doloribus illum. Neque nostrum hic eius debitis delectus natus illo odit est beatae aliquam?</a></p>
                </div>
                <div class="footerProblem">
                    <div>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>68</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-html5" aria-hidden="true"></i>
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </div>
                </div>
            </section>
            <section>
                <div class="informationsProblem">
                    <div>
                        <div>
                            <p><a href="question.html">Titre du problème</a></p>
                        </div>
                        <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i>
                        <a href="profil.html">Pseudo</a>

                    </div>
                    <div>
                        <p>10/19/2020</p>
                    </div>
                </div>
                <div class="informationsProblemMobile">
                    <div>
                        <p><a href="question.html">Titre du problème</a></p>
                        <a href="profil.html">Pseudo</a>
                    </div>
                    <div>
                        <p>10/19/2020</p>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-html5" aria-hidden="true"></i>
                            <i class="fa fa-css3" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>


                <div class="descriptionProblem">
                    <p><a href="question.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam unde dolor consequatur esse repudiandae error id omnis aliquam nemo facilis! Non totam ad, nulla in facere voluptas magni ab sit. Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Explicabo omnis necessitatibus maiores incidunt nostrum eum sapiente doloribus illum. Neque nostrum hic eius debitis delectus natus illo odit est beatae aliquam?</a></p>
                </div>
                <div class="footerProblem">
                    <div>
                        <div>
                            <p>Résolu</p>
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </div>
                        <div>
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <p>68</p>
                        </div>
                    </div>
                    <div>
                        <i class="fa fa-html5" aria-hidden="true"></i>
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </div>
                </div>
            </section>

            <div class="informationsProblemMobile">
                <div>
                    <p><a href="question.html">Titre du problème</a></p>
                    <a href="profil.html">Pseudo</a>
                </div>
                <div>
                    <p>10/19/2020</p>
                    <div>
                        <p>Résolu</p>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <div>
                        <i class="fa fa-html5" aria-hidden="true"></i>
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </div>
                </div>
            </div>



        </article>
    </main>
{% endblock %}


